---
const palette = ["#CFA3EF", "#F8B8D6", "#F8CB82", "#A9AFF3", "#2E243C"];
---

<ul class="palette">
  {palette.map((swatch, index) => <li class={`swatch swatch-${index}`}>{swatch}</li>)}
</ul>

<style>
  .palette {
    display: grid;
    margin-block-end: var(--space-md-lg);
    border-radius: var(--border-radius-md);
    outline: 2px solid var(--color-text-light);
    color: var(--color-text-dark);
    background-color: var(--color-text-light);
    box-shadow: var(--box-shadow-md);
    overflow: clip;
  }

  .swatch {
    padding-block: var(--space-xs);
    text-align: center;
    font-size: var(--font-size-base);
    font-family: var(--typeface-sans);
    font-weight: var(--semibold);
  }

  .swatch-0 {
    background-color: var(--color-primary);
  }

  .swatch-1 {
    background-color: var(--color-secondary);
  }

  .swatch-2 {
    background-color: var(--color-accent);
  }

  .swatch-3 {
    background-color: var(--color-selected);
  }

  .swatch-4 {
    background-color: var(--color-bg);
    color: var(--color-text-light);
  }

  @media only screen and (min-width: 38rem) {
    .palette {
      grid-auto-flow: column;
    }

    .swatch {
      padding-block: var(--space-xl);
    }
  }
</style>
