---
import { makeI18nStaticPathsGenerator, useTranslations } from "@i18n/utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import WebSite from "@components/schema-markup/WebSite.astro";
import PinBoard from "@components/pages/index/PinBoard.astro";
import LatestPosts from "@components/pages/index/LatestPosts.astro";

export const getStaticPaths = makeI18nStaticPathsGenerator();

const locale = Astro.currentLocale as string;
const ogImageUrl = `/open-graph/index-${locale}.png`;
const t = useTranslations(locale);
---

<BaseLayout
  title={t("index.meta.title")}
  description={t("index.meta.description")}
  image={ogImageUrl}
>
  <WebSite slot="schema-markup" />
  <hgroup class="site-intro">
    <h1 class="what">
      {t("index.heading", { highlight: (text: string) => <span class="highlight">{text}</span> })}
    </h1>
    <p class="typography-subtitle who">{t("index.byline")}</p>
  </hgroup>
  <PinBoard />
  <LatestPosts />
</BaseLayout>

<style>
  .site-intro {
    margin-block-end: var(--space-2xl-4xl);
  }

  .who {
    font-family: var(--typeface-sans);
    font-size: var(--font-size-lg);
  }

  .highlight {
    color: var(--color-secondary);
  }
</style>
