---
import { makeI18nStaticPathsGenerator, useTranslations } from "@i18n/utils";
import BaseLayout from "@layouts/BaseLayout.astro";

export const getStaticPaths = makeI18nStaticPathsGenerator();

const locale = Astro.currentLocale as string;
const t = useTranslations(locale);

const lastUpdated = new Date("2026-06-03");
const localizedDate = new Intl.DateTimeFormat(locale, {
  month: "long",
  day: "numeric",
  year: "numeric",
}).format(lastUpdated);

const ogImageUrl = `/open-graph/privacy-${locale}.png`;
---

<BaseLayout
  title={t("privacy.meta.title")}
  description={t("privacy.meta.description")}
  image={ogImageUrl}
/>
<div class="policy">
  <h1 class="policy-heading">{t("privacy.heading")}</h1>
  <p><strong>{t("privacy.updated on", { date: localizedDate })}</strong></p>
  <p class="intro">{t("privacy.introduction")}</p>

  <hgroup>
    <h2>{t("privacy.analytics heading")}</h2>
    <p>{t("privacy.analytics disclosure")}</p>
  </hgroup>
</div>

<style>
  :global(.content-grid) {
    --_max-width: var(--max-article-width);
  }

  .policy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    block-size: 100%;
    text-align: center;
  }
</style>
