@import "./reset.css";
@import "./theme.css";
@import "./typography.css";
@import "./view-transition.css";

/* Default styles */
html {
  background-color: var(--color-bg);
  scrollbar-gutter: stable;
  scrollbar-color: var(--color-primary) var(--color-bg-dark);
}

body {
  /* Push footer to bottom of page */
  display: flex;
  flex-direction: column;

  font-family: var(--typeface-body);
  color: var(--color-text-light);
}

a {
  text-decoration: none;
  color: var(--color-selected);
}

code {
  padding: 2px 6px 2px 6px;
  background: var(--color-bg-inline-code);
}

:focus-visible {
  border-radius: var(--border-radius-sm);
  outline: 2px solid var(--color-selected);
}

/* Global classes */

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html#hiding-content-visually */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-scroll {
  overflow-y: hidden;

  &::before {
    content: "";
    position: fixed;
    z-index: 90;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--color-overlay);
  }
}

.content-grid {
  --_max-width: var(--max-page-width);
  inline-size: min(100%, var(--_max-width));
  margin: var(--space-lg) auto var(--space-3xl) auto;
  padding-inline: var(--space-lg);
}

.content-grid > * {
  min-inline-size: fit-content;
}

/* Keyframes */

@keyframes slide-in {
  from {
    transform: translateX(-90px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
