@import "modern-normalize/modern-normalize.css";

:root {
  color-scheme: dark light;

  /* Colors */
  --color-neutral-100: #e8e6ed;
  --color-neutral-200: #b0a8bf;
  --color-neutral-300: #8e83a4;
  --color-neutral-400: #776b91;
  --color-neutral-500: #635978;
  --color-neutral-600: #4e465e;
  --color-neutral-700: #383345;
  --color-neutral-800: #23202b;
  --color-neutral-900: #0e0d11;
  --color-neutral-950: #070609;

  --color-overlay: rgb(18 18 18 / 80%);

  --color-input-active: #799ef2;
  --color-link: #9ec8f5;
  --color-link-bright: #cbe2fa;

  --color-primary-100: #f0e2fc;
  --color-primary-200: #d3a9f6;
  --color-primary-400: #bb79f1;
  --color-primary-500: #a34aec;
  --color-primary-900: #0e0217;

  --color-accent: #f179d7;
  --color-complement: #aff179;

  /* UI animation lengths */
  --anim-length-short: 0.15s;
  --anim-length-base: 0.3s;
  --anim-length-medium: 0.4s;
  --anim-length-long: 0.5s;

  /* Width caps */
  --max-width: 3840px;
  --max-page-width: 1600px;
  --max-article-width: 70ch;

  /* Typefaces */
  --typeface-logo: Philosopher, serif;
  --typeface-display: Poppins, sans-serif;
  --typeface-body: Merriweather, serif;
  --typeface-workhorse: Inter, sans-serif;

  /* Font weights */
  --light: 200;
  --normal: 300;
  --medium: 400;
  --semibold: 500;
  --bold: 600;
  --black: 900;

  /* Border radius */
  --border-radius-sm: 0.2rem;
  --border-radius-md: 0.4rem;
  --border-radius-lg: 0.6rem;

  /* Box Shadows */
  --box-shadow-sm: 0px 0px 1px rgba(0, 0, 0, 0.017), 0px 1.2px 2.3px rgba(0, 0, 0, 0.02),
    0px 3.5px 4.4px rgba(0, 0, 0, 0.021), 0px 7.1px 7.8px rgba(0, 0, 0, 0.021),
    0px 12.7px 14.6px rgba(0, 0, 0, 0.024), 0px 25px 35px rgba(0, 0, 0, 0.04);
  --box-shadow-md: 0px 0px 1.4px rgba(0, 0, 0, 0.026), 0px 1.4px 3.3px rgba(0, 0, 0, 0.03),
    0px 4.2px 6.3px rgba(0, 0, 0, 0.031), 0px 8.5px 11.2px rgba(0, 0, 0, 0.032),
    0px 15.2px 20.9px rgba(0, 0, 0, 0.036), 0px 30px 50px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0px 0px 1.1px rgba(0, 0, 0, 0.026), 0px 2.4px 2.7px rgba(0, 0, 0, 0.03),
    0px 7px 5px rgba(0, 0, 0, 0.031), 0px 14.2px 8.9px rgba(0, 0, 0, 0.032),
    0px 25.4px 16.7px rgba(0, 0, 0, 0.036), 0px 50px 40px rgba(0, 0, 0, 0.06);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1280,21,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Font sizes */
  --font-size-xs: clamp(0.7035rem, 0.8072rem + -0.1296vw, 0.7813rem);
  --font-size-sm: clamp(0.9375rem, 0.9374rem + 0.0004vw, 0.9377rem);
  --font-size-base: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
  --font-size-md: clamp(1.35rem, 1.2446rem + 0.5271vw, 1.6663rem);
  --font-size-lg: clamp(1.62rem, 1.4196rem + 1.0019vw, 2.2211rem);
  --font-size-xl: clamp(1.944rem, 1.6051rem + 1.6946vw, 2.9607rem);
  --font-size-2xl: clamp(2.3328rem, 1.7948rem + 2.6898vw, 3.9467rem);
  --font-size-3xl: clamp(2.7994rem, 1.9788rem + 4.1026vw, 5.2609rem);

  /* Spacing */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5417rem + 0.1042vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8542rem + 0.1042vw, 0.9375rem);
  --space-sm: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
  --space-md: clamp(1.6875rem, 1.625rem + 0.3125vw, 1.875rem);
  --space-lg: clamp(2.25rem, 2.1667rem + 0.4167vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.25rem + 0.625vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3333rem + 0.8333vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.5rem + 1.25vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2083rem + 0.5208vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4375rem + 0.625vw, 0.9375rem);
  --space-xs-sm: clamp(0.875rem, 0.75rem + 0.625vw, 1.25rem);
  --space-sm-md: clamp(1.125rem, 0.875rem + 1.25vw, 1.875rem);
  --space-md-lg: clamp(1.6875rem, 1.4167rem + 1.3542vw, 2.5rem);
  --space-lg-xl: clamp(2.25rem, 1.75rem + 2.5vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8333rem + 2.7083vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.5rem + 5vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6667rem + 2.2917vw, 2.5rem);
}

/* Base styles */

body {
  /* Push footer to bottom of page */
  display: grid;
  grid-template-rows: auto 1fr auto;
  block-size: 100vh;

  font-family: var(--typeface-body);
  line-height: 1.2;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-100);
}

h1,
h2 {
  font-family: var(--typeface-display);
  line-height: 1.15;
}

h3,
h4,
h5,
h6,
.subtitle {
  margin-block: var(--space-xs);
  font-family: var(--typeface-workhorse);
  line-height: 1.3;
}

h1 {
  margin-block: var(--space-md-lg) var(--space-sm-md);
  font-size: var(--font-size-xl);
  font-weight: var(--bold);
}

h2 {
  margin-block: var(--space-xs-sm) var(--space-xs);
  font-size: var(--font-size-lg);
  font-weight: var(--semibold);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--normal);
}

h4 {
  font-size: var(--font-size-md);
  font-weight: var(--normal);
}

p {
  margin-block: var(--space-md-lg);
  font-size: var(--font-size-base);
  font-weight: var(--normal);
  line-height: 1.8;
}

ul {
  list-style: none;
}

nav > ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

@media only screen and (min-width: 36rem) {
  h1 {
    font-size: var(--font-size-2xl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }
}

@media only screen and (min-width: 62rem) {
  h1 {
    font-size: var(--font-size-3xl);
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html#hiding-content-visually */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-scroll {
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: var(--color-overlay);
  }
}
