---
import { useTranslations } from "@i18n/utils.ts";
import Link from "@components/controls/Link.astro";

const { class: className, ...attrs } = Astro.props;
const t = useTranslations(Astro.currentLocale as string);
---

<div class:list={["_contact", className]} {...attrs}>
  <hgroup>
    <h2 class="contact-heading">{t("contact.heading")}</h2>
    <p class="where">
      {
        t("contact.text", {
          emailLink: (text: string) => <Link href="mailto:hello@amelliya.com">{text}</Link>,
        })
      }
    </p>
  </hgroup>
</div>

<style>
  ._contact > * {
    max-inline-size: 60ch;
  }

  .contact-heading {
    color: var(--color-primary);
  }

  .where {
    margin-block: var(--space-xs);
    font-family: var(--typeface-sans);
    font-size: var(--font-size-md);
    color: var(--color-text-light);
  }
</style>
