---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "@i18n/utils.ts";
import { getMainNavLinks } from "@scripts/constants.ts";
import MenuLink from "@components/controls/MenuLink.astro";
import Amelliya from "@logos/amelliya.svg";
import ChevronDown from "@icons/chevron-down-outline.svg";

const locale = Astro.currentLocale as string;
const currentPath = new URL(Astro.request.url).pathname;
const t = useTranslations(locale);
---

<script src="@scripts/menu.js"></script>
<header class="site-header">
  <nav class="navbar" id="navigation" aria-label={t("aria label.nav.main")}>
    <a
      href={getRelativeLocaleUrl(locale)}
      class="brand"
      aria-label={t("aria label.icon button.home page")}
    >
      <Amelliya />
    </a>

    <input type="checkbox" id="menu-button" />
    <label for="menu-button" class="menu-label">
      Menu
      <ChevronDown class="chevron" aria-hidden={true} />
    </label>

    <div class="dropdown-wrapper">
      <menu class="dropdown" id="menu" role="menu">
        {
          getMainNavLinks(locale).map((page) => (
            <li role="none">
              <MenuLink
                href={getRelativeLocaleUrl(locale, page.path)}
                role="menuitem"
                isActive={currentPath === getRelativeLocaleUrl(locale, page.path)}
              >
                {page.name}
              </MenuLink>
            </li>
          ))
        }
        <pagefind-modal-trigger class="search-trigger" hide-shortcut></pagefind-modal-trigger>
      </menu>
    </div>

    <pagefind-modal></pagefind-modal>
  </nav>
</header>

<style>
  /* Header styling */
  .navbar {
    z-index: 999;
    position: relative;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0 var(--space-sm);

    inline-size: 100%;
    min-inline-size: fit-content;
    padding: var(--space-sm);

    background-color: var(--color-bg-dark);
    border-block-end: 1px solid var(--color-bg-bright);
    box-shadow: var(--box-shadow-sm);
  }

  body.no-scroll .navbar {
    padding-inline-end: calc(var(--scrollbar-width) + var(--space-sm));
  }

  body.no-scroll .dropdown-wrapper {
    padding-inline: var(--space-sm) calc(var(--scrollbar-width) + var(--space-sm));
  }

  .navbar:has(#menu-button:checked) {
    column-gap: 8px;
    border-block-end-color: transparent;
    box-shadow: none;
  }

  .brand {
    justify-self: start;
    display: grid;
    place-items: center;
  }

  /* Mobile menu button styling */
  #menu-button {
    appearance: none;
    position: absolute;
    z-index: -1;
    inset-block-start: var(--space-sm);
    inset-inline-end: var(--space-sm);
    inline-size: 5.75rem;
    block-size: 2rem;
    pointer-events: none;
  }

  .menu-label {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: var(--space-3xs);
    user-select: none;
    cursor: pointer;

    font-family: var(--typeface-sans);
    font-size: var(--font-size-base);
  }

  .menu-label:hover {
    color: var(--color-primary);
  }

  .chevron {
    block-size: var(--space-md);
    inline-size: var(--space-md);
  }

  #menu-button:checked + .menu-label > .chevron {
    transform: rotate(180deg);
  }

  /* Navigation menu styling */
  .dropdown-wrapper {
    position: absolute;
    inset-block-start: 100%;
    inset-inline: 0;
    padding-inline: var(--space-sm);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-1rem);

    background-color: var(--color-bg-dark);
    border-block-end: 1px solid var(--color-bg-bright);
    box-shadow: var(--box-shadow-sm);
  }

  #menu-button:checked ~ .dropdown-wrapper {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  .dropdown {
    display: flex;
    reading-flow: flex-visual;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    padding-block: var(--space-sm) var(--space-md);
  }

  .search-trigger:empty {
    display: none;
  }

  .search-trigger {
    order: -1;
    inline-size: 100%;
    margin-block-end: var(--space-2xs);
  }

  @media (prefers-reduced-motion: no-preference) {
    .dropdown-wrapper {
      transition:
        opacity var(--anim-length-base) ease-in-out,
        transform var(--anim-length-base) ease-in-out,
        visibility var(--anim-length-base) ease-in-out;
    }

    .menu-label {
      transition: color var(--anim-length-base) ease-in-out;
    }

    .chevron {
      transition: transform var(--anim-length-medium) ease-in-out;
    }
  }

  /* On large enough displays use nav bar */
  @media only screen and (min-width: 36rem) {
    .navbar {
      grid-template-columns: auto 1fr;
    }

    #menu-button,
    .menu-label {
      display: none;
    }

    .dropdown-wrapper {
      display: contents;
      visibility: visible;
      pointer-events: auto;
    }

    .dropdown {
      grid-row: 1;
      grid-column: 2;

      flex-direction: row;
      justify-content: flex-end;
      padding-block: 0;
    }

    .search-trigger {
      order: 0;
      inline-size: auto;
      margin-block-end: 0;
    }
  }
</style>
