---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "@i18n/utils.ts";
import { getSitemap } from "@scripts/constants.ts";
import MenuLink from "@components/controls/MenuLink.astro";

const { class: className, ...attrs } = Astro.props;
const locale = Astro.currentLocale as string;
const t = useTranslations(locale);
---

<nav class={className} aria-label={t("navigation.sitemap aria label")} {...attrs}>
  <ul class="_sitemap">
    {
      getSitemap(locale).map((page) => (
        <li>
          <MenuLink href={getRelativeLocaleUrl(locale, page.path)}>{page.name}</MenuLink>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ._sitemap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm) var(--space-lg);
  }

  ._sitemap:nth-last-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  ._sitemap:last-child {
    grid-column: 2 / 3;
    grid-row: 2;
  }
</style>
