---
import { useTranslations } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import BaseLayout from "@layouts/BaseLayout.astro";
import Link from "@components/controls/Link.astro";

const locale = Astro.currentLocale as string;
const t = useTranslations(locale);
---

<BaseLayout title={t("404.meta.title")} description={t("404.meta.description")}>
  <div class="not-found">
    <h1 class="error-code">404</h1>
    <h2>
      {t("404.meta.title")}
      <span aria-hidden="true">🥲</span>
    </h2>
    <p class="hint">
      {
        t("404.message", {
          homeLink: (text: string) => <Link href={getRelativeLocaleUrl(locale)}>{text}</Link>,
        })
      }
    </p>
  </div>
</BaseLayout>

<style>
  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    block-size: 100%;
    text-align: center;
  }

  .error-code {
    font-size: var(--font-size-3xl);
    font-weight: var(--black);
  }

  .hint {
    max-inline-size: var(--max-article-width);
  }
</style>
