---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/controls/links/Link.astro";

const title = "About | Jane Doe";
const description = "About Page";
---

<BaseLayout title={title} description={description}>
  <h1>About</h1>

  <h2>Me</h2>
  <p></p><h2>This website</h2>
  <p>
    I built and designed it myself. It uses
    <Link href="https://astro.build/" name="Astro">Astro</Link> as a static site generator and then I
    can write the whole thing in essentially vanilla
    <abbr title="Hypertext Markup Language">HTML</abbr>
    /<abbr title="Cascading Style Sheets">CSS</abbr>. The blog posts themselves are simply
    <code>.mdx</code> files.
  </p>
  <p>
    While building the site, I did my best to adhere to the
    <Link
      href="https://developer.mozilla.org/en-US/docs/Glossary/Progressive_Enhancement"
      name="Progressive enhancement explained"
    >
      progressive enhancement paradigm
    </Link>. The site is fully functional with just the
    <abbr title="Hypertext Markup Language">HTML</abbr> file. There is a tiny bit of JS added to enhance
    accessibility.
  </p>
  <p>
    I have some interesting plans for what I want to do with it in the future, but right now it's
    really just an over-glorified personal blog.
  </p>
</BaseLayout>

<style>
  :global(.content-grid) {
    --_max-width: var(--max-article-width);
  }
</style>
