---
const { class: className, ...attrs } = Astro.props;
---

<button class:list={["button", className]} {...attrs}>
  <slot />
</button>

<style>
  .button {
    padding: var(--space-xs) var(--space-md);
    border: none;
    border-radius: 100vmax;
    outline-offset: var(--space-3xs);
    cursor: pointer;

    color: black;
    background-color: var(--color-primary);
    outline-color: var(--color-primary);

    font-family: var(--typeface-workhorse);
    font-weight: var(--semibold);
    font-size: var(--font-size-base);
  }

  .button:hover,
  .button:focus {
    outline-style: solid;
    outline-width: medium;
    box-shadow: 0 0 100px 100px rgb(255 255 255 / 20%) inset;
  }

  .button:active {
    box-shadow: 0 0 100px 100px rgb(0 0 0 / 10%) inset;
  }
</style>
