---
const { class: className, id, hideLabel, placeholder, ...attrs } = Astro.props;

if (hideLabel && !placeholder) {
  throw new Error("Attribute 'placeholder' must be defined when using 'hideLabel'");
}
---

<label class:list={["label", hideLabel && "visually-hidden"]} for={id}><slot /></label>
<input class:list={["_input", className]} id={id} placeholder={placeholder} {...attrs} />

<style>
  ._input {
    block-size: 3rem;
    inline-size: 100%;
    padding-inline: var(--space-sm);

    font-family: var(--typeface-sans);
    font-size: var(--font-size-base);
    background-color: var(--color-bg-bright);

    border: none;
    border-radius: var(--border-radius-md);
    outline: medium solid var(--color-primary);
  }

  ._input:focus,
  ._input:active {
    border-radius: var(--border-radius-lg);
    outline: medium solid var(--color-selected);
  }

  .label {
    display: block;
    margin-block-end: var(--space-2xs);
    font-family: var(--typeface-sans);
    color: var(--color-text-faint);
  }

  @media (prefers-reduced-motion: no-preference) {
    .input {
      transition:
        border-radius var(--anim-length-short) ease-in-out,
        outline var(--anim-length-short) ease-in-out;
    }
  }
</style>
