---

---

<a href="#main-content" class="visually-hidden">Skip to main content</a><style>
  .visually-hidden:focus,
  .visually-hidden:active {
    position: fixed;
    inset-block-start: var(--space-2xs);
    inset-inline-start: var(--space-2xs);
    padding: var(--space-xs) var(--space-sm);
    z-index: 9999;

    border-radius: var(--border-radius-sm);
    background-color: var(--color-bg-bright);
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    font-weight: var(--light);
    color: var(--color-text-light);
  }
</style>
