---
const { href, role, isActive, ...attrs } = Astro.props;
---

<a
  href={href}
  role={role}
  class:list={["_menu-link", isActive && "active"]}
  aria-current={isActive ? "page" : undefined}
  {...attrs}
>
  <slot />
</a>

<style>
  ._menu-link {
    display: inline-block;
    position: relative;
    isolation: isolate;
    margin: 0;
    border-radius: var(--border-radius-sm);
    font-family: var(--typeface-sans);
    font-size: var(--font-size-base);
    font-weight: var(--light);
    color: var(--color-text-light);
  }

  ._menu-link::after {
    content: "";
    display: block;
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: -4px;
    block-size: 2px;
    inline-size: 100%;
    background-color: var(--color-selected);
    transform-origin: right;

    /* setting scaleY prevents the height from jumping around causing annoying visual glitches */
    transform: scale(0, 1.0001);
  }

  :global([dir="rtl"]) ._menu-link::after {
    transform-origin: left;
  }

  :not(.active)._menu-link:hover::after,
  :not(.active)._menu-link:focus::after {
    transform-origin: left;
    transform: scale(1, 1.0001);
  }

  :global([dir="rtl"]) :not(.active)._menu-link:hover::after,
  :global([dir="rtl"]) :not(.active)._menu-link:focus::after {
    transform-origin: right;
    transform: scale(1, 1.0001);
  }

  :not(.active)._menu-link:active {
    outline: 2px solid var(--color-selected);
  }

  :not(.active)._menu-link:hover,
  :not(.active)._menu-link:focus {
    color: var(--color-primary);
  }

  .active {
    color: var(--color-primary);
  }

  /* Outline the pseudo-element to preserve consistent border-radius */
  .active::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset-block: -25%;
    inset-inline: -12.5%;
    border-radius: var(--border-radius-sm);
    outline: 2px solid var(--color-primary);
  }

  /* Remove highlight outline on tab focus */
  .active:focus::before {
    outline: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    ._menu-link {
      transition: color var(--anim-length-short) ease-in-out;
    }

    ._menu-link::after {
      transition: transform var(--anim-length-base) cubic-bezier(0.85, 0, 0.15, 1);
    }
  }
</style>
