---
const { ...rest } = Astro.props;
const brandName = "Jane Doe";
---

<span class="brand" {...rest}>
  {brandName}
</span>

<style>
  .brand {
    display: inline-block;
    font-family: var(--typeface-logo);
    font-size: var(--font-size-lg);
    font-weight: var(--bold);
    color: var(--color-primary-400);
    white-space: nowrap;
  }
</style>
