---
import SocialMedia from "./SocialMedia.astro";
import HoverUnderlineLink from "./controls/links/MenuLink.astro";
import Newsletter from "./Newsletter.astro";
import Sitemap from "./Sitemap.astro";
---

<footer>
  <div class="footer-content">
    <Newsletter class="newsletter" />
    <Sitemap class="sitemap" />

    <div class="social-media-card">
      <SocialMedia />
    </div>
  </div>

  <div class="copyright">
    <hr />
    <span>Copyright © 2024 Jane Doe</span>
  </div>
</footer>

<style>
  footer {
    inline-size: 100%;
    background-color: var(--color-neutral-900);
    border-block-start: 1px solid var(--color-neutral-700);
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-lg);

    max-inline-size: var(--max-page-width);
    margin: var(--space-sm-md) auto var(--space-md-lg) auto;
    padding-inline: var(--space-sm);
  }

  .sitemap {
    flex: 1 0 auto;
  }

  .newsletter {
    flex: 2 0 fit-content;
  }

  /* Social media card */
  .social-media-card {
    flex: 1 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);

    inline-size: 100%;
    padding: var(--space-xs) var(--space-md);
    background-color: var(--color-primary-500);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-md);
  }

  /* Copyright */
  .copyright {
    padding-inline: var(--space-sm);
    text-align: center;
  }

  .copyright > hr {
    border: thin solid var(--color-neutral-800);
  }

  .copyright > span {
    display: inline-block;
    margin-block: 0.5rem 1rem;
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-sm);
    font-weight: var(--light);
    color: var(--color-neutral-200);
  }
</style>
