---
import SocialMedia from "@components/footer/SocialMedia.astro";
import Newsletter from "@components/footer/Newsletter.astro";
import Contact from "@components/footer/Contact.astro";
import Sitemap from "@components/footer/Sitemap.astro";
---

<footer class="site-footer">
  <div class="footer-content">
    <div class="follow">
      <Contact class="contact" />
      <div class="social-card">
        <SocialMedia />
      </div>
    </div>

    <Sitemap class="sitemap" />
  </div>

  <div class="copyright">
    <hr />
    <span>Copyright © 2025 amelliya</span>
  </div>
</footer>

<style>
  .site-footer {
    inline-size: 100%;
    min-inline-size: fit-content;
    margin-block-start: auto;
    border-block-start: 1px solid var(--color-bg-bright);
    background-color: var(--color-bg-dark);
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-lg);

    max-inline-size: var(--max-page-width);
    margin: var(--space-sm-md) auto var(--space-md-lg) auto;
    padding-inline: var(--space-sm);
  }

  body.no-scroll .footer-content {
    padding-inline-end: calc(var(--scrollbar-width) + var(--space-sm));
  }

  .sitemap {
    flex: 1 0 auto;
  }

  .follow {
    flex: 2 0 fit-content;
    display: grid;
    gap: var(--space-xs);
  }

  /* Social card */
  .social-card {
    display: flex;
    gap: var(--space-md);
  }

  /* Copyright */
  .copyright {
    padding-inline: var(--space-sm);
    text-align: center;
  }

  .copyright > hr {
    border: thin solid var(--color-bg-bright);
  }

  .copyright > span {
    display: inline-block;
    margin-block: 0.5rem 1rem;
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-sm);
    font-weight: var(--light);
    color: var(--color-text-faint);
  }
</style>
