---
import MenuLink from "@components/controls/MenuLink.astro";
import ChevronDown from "@icons/chevron-down-outline.svg";

export const mainNavLinks = [
  {
    path: "/blog/1",
    name: "Blog",
  },
  {
    path: "/games",
    name: "Games",
  },
  {
    path: "/gallery",
    name: "Gallery",
  },
];

const currentDir = new URL(Astro.request.url).pathname.split("/")[1];
---

<script src="@scripts/menu.js"></script>
<header class="site-header">
  <nav class="navbar" id="navigation" aria-label="Site navigation menu">
    <a href="/" class="brand" aria-label="Home">amelliya</a>

    <input type="checkbox" id="menu-button" aria-label="Toggle menu" />
    <label for="menu-button" class="menu-label">
      Menu
      <ChevronDown class="chevron" />
    </label>

    <menu class="dropdown" id="menu" role="menu" aria-label="Navigation">
      {
        mainNavLinks.map((page) => (
          <li role="none">
            <MenuLink
              href={page.path}
              role="menuitem"
              isActive={currentDir === page.name.toLowerCase()}
            >
              {page.name}
            </MenuLink>
          </li>
        ))
      }
    </menu>
  </nav>
</header>

<style>
  .site-header {
    position: relative;
  }

  /* Add phantom element for grid layout,
   * hacky but prevents dropdown from pushing content */
  .site-header::after {
    content: "\a0";
    display: block;
    margin: var(--space-sm);
    padding-block-end: 1px;
    font-size: var(--font-size-lg);
  }

  /* Header styling */
  .navbar {
    z-index: 100;
    position: absolute;

    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    align-items: center;
    gap: 0;

    inline-size: 100%;
    min-inline-size: fit-content;
    padding: var(--space-sm);

    background-color: var(--color-bg-dark);
    border-block-end: 1px solid var(--color-bg-bright);
    box-shadow: var(--box-shadow-sm);
  }

  .navbar:has(#menu-button:checked) {
    gap: 8px;
  }

  /* Mobile menu button styling */
  #menu-button {
    appearance: none;
    position: absolute;
    z-index: -1;
    top: var(--space-sm);
    right: var(--space-sm);
    inline-size: 5.75rem;
    block-size: 2rem;
    pointer-events: none;
  }

  .menu-label {
    display: flex;
    align-items: center;
    gap: var(--space-3xs);
    user-select: none;
    cursor: pointer;

    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    font-weight: var(--light);
  }

  .menu-label:hover {
    color: var(--color-primary);
  }

  .chevron {
    block-size: var(--space-md);
    inline-size: var(--space-md);
  }

  #menu-button:checked + .menu-label > .chevron {
    transform: rotate(180deg);
  }

  /* Navigation menu styling */
  .dropdown {
    grid-column: span 2;
    display: flex;
    gap: var(--space-sm-md);
    flex-direction: column;
    text-align: center;

    inline-size: 100%;
    max-block-size: 0;
    opacity: 0;
    overflow: hidden;
  }

  #menu-button:checked ~ .dropdown {
    /* (line-height + gap) * n + padding */
    max-block-size: calc((1.2rem + var(--space-sm-md)) * 3 + var(--space-sm) + var(--space-xs));
    padding-block: var(--space-sm) var(--space-xs);
    opacity: 1;
  }

  @media (prefers-reduced-motion: no-preference) {
    .dropdown {
      transition:
        max-block-size var(--anim-length-base) ease-in-out,
        padding-block var(--anim-length-long) ease-in-out,
        opacity var(--anim-length-medium) ease-in-out;
    }

    .menu-label {
      transition: color var(--anim-length-base) ease-in-out;
    }

    .chevron {
      transition: transform var(--anim-length-medium) ease-in-out;
    }
  }

  /* On large enough displays use nav bar */
  @media only screen and (min-width: 36rem) {
    #menu-button,
    .menu-label {
      display: none;
    }

    .dropdown {
      grid-column: auto;
      flex-direction: row;

      inline-size: auto;
      opacity: 1;
      overflow: visible;
      transition: none;

      /* Override '#menu-button:checked ~ .dropdown' selector when no js */
      max-block-size: none !important;
      padding-block: 0 !important;
    }
  }
</style>
