---
import MenuLink from "./controls/links/MenuLink.astro";

export const mainNavLinks = [
  {
    path: "/blog/1",
    name: "Blog",
  },
  {
    path: "/games",
    name: "Games",
  },
  {
    path: "/gallery",
    name: "Gallery",
  },
];

const currentDir = new URL(Astro.request.url).pathname.split("/")[1];
---

<script src="../scripts/menu.js"></script>
<header>
  <nav class="navbar" id="navigation" aria-label="Site navigation menu">
    <a href="/" class="brand" aria-label="Home">Jane Doe</a>

    <input
      type="checkbox"
      role="button"
      id="menu-button"
      aria-haspopup="menu"
      aria-controls="menu"
      aria-expanded="false"
      aria-label="Toggle menu"
    />
    <label for="menu-button" class="menu-label">
      <svg xmlns="http://www.w3.org/2000/svg" id="menu-open" viewBox="0 0 512 512">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="48"
          d="M84 116h400M84 256h400M84 396h400"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" id="menu-close" viewBox="0 0 512 512">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="48"
          d="M428 428L84 84M428 84L84 428"></path>
      </svg>
    </label>

    <menu class="dropdown" id="menu" role="menu" aria-label="Navigation">
      {
        mainNavLinks.map((page) => (
          <li role="none">
            <MenuLink href={page.path} isActive={currentDir === page.name.toLowerCase()}>
              {page.name}
            </MenuLink>
          </li>
        ))
      }
    </menu>
  </nav>
</header>

<style>
  /* Add phantom element for grid layout,
   * hacky but prevents dropdown from pushing content */
  header::after {
    content: "\a0";
    display: block;
    margin: var(--space-sm);
    padding-block-end: 1px;
    font-size: var(--font-size-lg);
  }

  header {
    position: relative;
  }

  /* Header styling */
  .navbar {
    z-index: 100;
    position: absolute;

    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    align-items: center;
    gap: 0;

    inline-size: 100%;
    min-inline-size: fit-content;
    padding: var(--space-sm);

    background-color: var(--color-neutral-900);
    border-block-end: 1px solid var(--color-neutral-700);
    box-shadow: var(--box-shadow-sm);
  }

  .brand {
    font-family: var(--typeface-logo);
    font-size: var(--font-size-lg);
    font-weight: var(--bold);
    color: var(--color-primary-400);
    white-space: nowrap;
  }

  /* Mobile menu button styling */
  #menu-button {
    appearance: none;
    position: absolute;
    z-index: -1;
    top: var(--space-sm);
    right: var(--space-sm);
    inline-size: 1.75rem;
    block-size: 1.75rem;
    pointer-events: none;
  }

  .menu-label {
    inline-size: 1.5rem;
    block-size: 1.5rem;
    user-select: none;
    cursor: pointer;
    color: var(--color-neutral-100);
  }

  .menu-label:hover {
    color: var(--color-neutral-200);
  }

  #menu-close {
    display: none;
  }

  #menu-button:checked + .menu-label > #menu-open {
    display: none;
  }

  #menu-button:checked + .menu-label > #menu-close {
    display: block;
  }

  /* Navigation menu styling */
  .dropdown {
    grid-column: span 2;
    display: flex;
    gap: var(--space-sm-md);
    flex-direction: column;

    inline-size: 100%;
    max-block-size: 0;
    overflow: hidden;
    text-align: center;
    opacity: 0;
  }

  #menu-button:checked ~ .dropdown {
    /* (line-height + gap) * n + padding */
    max-block-size: calc((1.2rem + var(--space-sm-md)) * 3 + var(--space-sm) + var(--space-xs));
    padding-block: var(--space-sm) var(--space-xs);
    opacity: 1;
  }

  @media (prefers-reduced-motion: no-preference) {
    .dropdown {
      transition:
        max-block-size var(--anim-length-base) ease-in-out,
        padding-block var(--anim-length-long) ease-in-out,
        opacity var(--anim-length-medium) ease-in-out;
    }

    .menu-label {
      transition: color var(--anim-length-base) ease-in-out;
    }
  }

  /* On large enough displays use nav bar */
  @media only screen and (min-width: 36rem) {
    #menu-button,
    .menu-label {
      display: none;
    }

    .dropdown {
      grid-column: auto;
      flex-direction: row;

      inline-size: auto;
      max-block-size: none;
      overflow: visible;
      opacity: 1;
    }
  }
</style>
