---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getMainNavLinks } from "@scripts/constants.ts";
import MenuLink from "@components/controls/MenuLink.astro";
import Amelliya from "@logos/amelliya.svg";
import ChevronDown from "@icons/chevron-down-outline.svg";
import { useTranslations } from "@i18n/utils.ts";

const locale = Astro.currentLocale as string;
const currentDir = new URL(Astro.request.url).pathname.split("/")[1];
const t = useTranslations(locale);
---

<script src="@scripts/menu.js"></script>
<header class="site-header">
  <nav class="navbar" id="navigation" aria-label={t("navigation.main nav aria label")}>
    <a href={getRelativeLocaleUrl(locale)} class="brand" aria-label="Home">
      <Amelliya />
    </a>

    <input type="checkbox" id="menu-button" aria-label="Toggle menu" />
    <label for="menu-button" class="menu-label">
      Menu
      <ChevronDown class="chevron" />
    </label>

    <div class="dropdown-wrapper">
      <menu class="dropdown" id="menu" role="menu" aria-label="Navigation">
        {
          getMainNavLinks(locale).map((page) => (
            <li role="none">
              <MenuLink
                href={getRelativeLocaleUrl(locale, page.path)}
                role="menuitem"
                isActive={currentDir === page.name.toLowerCase()}
              >
                {page.name}
              </MenuLink>
            </li>
          ))
        }
        <pagefind-modal-trigger class="search-trigger" hide-shortcut></pagefind-modal-trigger>
      </menu>
    </div>

    <pagefind-modal></pagefind-modal>
  </nav>
</header>

<style>
  .site-header {
    position: relative;
  }

  /* Add phantom element for grid layout,
   * hacky but prevents dropdown from pushing content */
  .site-header::after {
    content: "\a0";
    display: block;
    margin: var(--space-sm);
    padding-block-end: 1px;
    font-size: var(--font-size-lg);
  }

  /* Header styling */
  .navbar {
    z-index: 100;
    position: absolute;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0 var(--space-sm);

    inline-size: 100%;
    min-inline-size: fit-content;
    padding: var(--space-sm);

    background-color: var(--color-bg-dark);
    border-block-end: 1px solid var(--color-bg-bright);
    box-shadow: var(--box-shadow-sm);
  }

  body.no-scroll .navbar {
    padding-inline-end: calc(var(--scrollbar-width) + var(--space-sm));
  }

  .navbar:has(#menu-button:checked) {
    gap: 8px;
  }

  .brand {
    justify-self: start;
    display: grid;
    place-items: center;
  }

  /* Mobile menu button styling */
  #menu-button {
    appearance: none;
    position: absolute;
    z-index: -1;
    inset-block-start: var(--space-sm);
    inset-inline-end: var(--space-sm);
    inline-size: 5.75rem;
    block-size: 2rem;
    pointer-events: none;
  }

  .menu-label {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: var(--space-3xs);
    user-select: none;
    cursor: pointer;

    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    font-weight: var(--light);
  }

  .menu-label:hover {
    color: var(--color-primary);
  }

  .chevron {
    block-size: var(--space-md);
    inline-size: var(--space-md);
  }

  #menu-button:checked + .menu-label > .chevron {
    transform: rotate(180deg);
  }

  /* Navigation menu styling */
  .dropdown-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: 0fr;
  }

  #menu-button:checked ~ .dropdown-wrapper {
    grid-template-rows: 1fr;
  }

  .dropdown {
    min-block-size: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm-md);

    padding-block: 0;
    opacity: 0;
  }

  #menu-button:checked ~ .dropdown-wrapper .dropdown {
    padding-block: var(--space-xs);
    opacity: 1;
  }

  .search-trigger {
    inline-size: 100%;
    order: -1;
  }

  @media (prefers-reduced-motion: no-preference) {
    .dropdown-wrapper {
      transition: grid-template-rows var(--anim-length-base) ease-in-out;
    }

    .dropdown {
      transition:
        padding-block var(--anim-length-base) ease-in-out,
        opacity var(--anim-length-medium) ease-in-out;
    }

    .menu-label {
      transition: color var(--anim-length-base) ease-in-out;
    }

    .chevron {
      transition: transform var(--anim-length-medium) ease-in-out;
    }
  }

  /* On large enough displays use nav bar */
  @media only screen and (min-width: 36rem) {
    .navbar {
      grid-template-columns: auto 1fr;
    }

    #menu-button,
    .menu-label {
      display: none;
    }

    .dropdown-wrapper {
      grid-row: 1;
      grid-column: 2;
      display: block;
    }

    .dropdown {
      flex-direction: row;
      justify-content: flex-end;
      opacity: 1;
      overflow: visible;
      padding-block: 0 !important;

      transition: none;
    }

    .search-trigger {
      inline-size: auto;
      order: 0;
    }
  }
</style>
