---
import "@styles/global.css";
import { Font } from "astro:assets";

const { title, description, hasCode } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>

  <meta name="description" content={description} />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <meta name="theme-color" content="#cfa3ef" />
  <meta name="color-scheme" content="light dark" />

  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <Font cssVariable="--typeface-logo" preload />
  <Font cssVariable="--typeface-display" preload />
  <Font cssVariable="--typeface-body" preload />
  <Font cssVariable="--typeface-workhorse" preload />

  {hasCode && <link rel="stylesheet" href="/prism-dracula.css" />}
  <link rel="expect" blocking="render" href="#the-unexpected" />
</head>
