---
import Brand from "./Brand.astro";
import MenuLink from "./controls/links/MenuLink.astro";

const currentDir = new URL(Astro.request.url).pathname.split("/")[1];
export const mainNavLinks = [
  {
    path: "/blog/1",
    name: "Blog",
  },
  {
    path: "/games",
    name: "Games",
  },
  {
    path: "/gallery",
    name: "Gallery",
  },
];
const menuId = "nav-menu";
---

<script src="../scripts/menu.js"></script>
<header>
  <nav class="navbar" aria-label="Site navigation menu">
    <a href="/" aria-label="Home">
      <Brand />
    </a>

    <button
      class="menu-button"
      id="mobile-menu-button"
      aria-haspopup="menu"
      aria-expanded="false"
      aria-controls={menuId}
      aria-label="Toggle menu"
    >
      <svg xmlns="http://www.w3.org/2000/svg" id="menu-open" viewBox="0 0 512 512">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="48"
          d="M84 116h400M84 256h400M84 396h400"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" id="menu-close" viewBox="0 0 512 512">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="48"
          d="M428 428L84 84M428 84L84 428"></path>
      </svg>
    </button>

    <menu class="dropdown" id={menuId} role="menu" aria-label="Navigation">
      {
        mainNavLinks.map((page) => (
          <li role="none">
            <MenuLink href={page.path} isActive={currentDir === page.name.toLowerCase()}>
              {page.name}
            </MenuLink>
          </li>
        ))
      }
    </menu>
  </nav>
</header>

<style>
  /* Add phantom element for grid layout,
   * hacky but prevents dropdown from pushing content */
  header::after {
    content: "\a0";
    display: block;
    margin: var(--space-sm);
    padding-block-end: 1px;
    font-size: var(--font-size-lg);
  }

  /* Header styling */
  .navbar {
    z-index: 101;
    position: absolute;

    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    align-items: center;
    gap: 0;

    inline-size: 100%;
    padding: var(--space-sm);

    background-color: var(--color-neutral-900);
    border-block-end: 1px solid var(--color-neutral-700);
    box-shadow: var(--box-shadow-sm);
  }

  .navbar:has(menu.show) {
    gap: var(--space-md);
  }

  /* Mobile menu button styling */
  .menu-button {
    padding: 0;

    inline-size: 1.5rem;
    block-size: 1.5rem;

    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-neutral-100);
  }

  .menu-button:hover {
    color: var(--color-neutral-200);
  }

  #menu-close {
    display: none;
  }

  .menu-button[aria-expanded="true"] > #menu-open {
    display: none;
  }

  .menu-button[aria-expanded="true"] > #menu-close {
    display: block;
  }

  /* Navigation menu styling */
  menu {
    display: flex;
    gap: var(--space-lg);
    text-align: center;
  }

  .dropdown {
    grid-column: span 2;
    flex-direction: column;

    inline-size: 100%;
    max-block-size: 0;

    overflow: hidden;
  }

  .show {
    /* Line-height * n + gap * (n - 1) + padding */
    max-block-size: calc(1.15rem * 3 + var(--space-md) * 2 + var(--space-md) + 1.25rem);
  }

  /* Needed to prevent overflow:hidden from hiding outline/underline */
  .show:last-child {
    padding-block: 0.625rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    .navbar {
      transition: gap var(--anim-length-long) ease-in-out;
    }

    .dropdown {
      transition: max-height var(--anim-length-base) ease-in-out;
    }

    .menu-button {
      transition: color var(--anim-length-base) ease-in-out;
    }
  }

  /* On large enough displays use nav bar */
  @media only screen and (min-width: 36rem) {
    .menu-button {
      display: none;
    }

    .dropdown {
      grid-column: auto;
      flex-direction: row;

      inline-size: auto;
      max-block-size: none;

      overflow: visible;
    }
  }
</style>
