---
import InputField from "./controls/InputField.astro";
import SearchIcon from "../assets/svg/icons/search-outline.svg";

const searchEndpoint = "/api/search";
---

<search>
  <form action={searchEndpoint} method="get" class="search-form">
    <InputField
      type="search"
      name="query"
      class="input"
      id="search-bar"
      hideLabel="true"
      placeholder="Search amelliya.com"
    >
      Search amelliya.com
    </InputField>
    <SearchIcon class="magnifying-glass" aria-hidden={true} />
  </form>
</search>

<style>
  search {
    inline-size: clamp(50%, 60ch, 100%);
  }

  .search-form {
    position: relative;
  }

  .input {
    padding-inline-start: 3rem;
  }

  .magnifying-glass {
    color: var(--color-text-light);
    position: absolute;
    top: 50%;
    left: 0.75rem;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    transform: translateY(-50%);
  }
</style>
