---
const { href } = Astro.props;
---

<a href={href} class="link-button">
  <slot />
</a>

<style>
  .link-button {
    display: inline-block;
    padding: var(--space-xs) var(--space-md);
    border-radius: 100vmax;
    outline-offset: var(--space-3xs);

    color: black;
    background-color: var(--color-primary-400);
    outline-color: var(--color-primary-400);

    font-family: var(--typeface-workhorse);
    font-weight: var(--semibold);
    font-size: var(--font-size-base);
    text-align: center;
  }

  .link-button:hover,
  .link-button:focus {
    outline-style: solid;
    outline-width: medium;
    box-shadow: 0 0 100px 100px rgb(255 255 255 / 20%) inset;
  }

  .link-button:active {
    box-shadow: 0 0 100px 100px rgb(0 0 0 / 10%) inset;
  }
</style>
