---
const { href, name } = Astro.props;
---

<a href={href} class="link" aria-label=`Link to ${name}`>
  <slot />
</a>

<style>
  .link {
    text-decoration: underline;
    border-radius: var(--border-radius-sm);
  }

  .link:hover,
  .link:focus {
    color: var(--color-primary);
  }

  .link:active {
    outline: 2px solid var(--color-selected);
  }

  @media (prefers-reduced-motion: no-preference) {
    .link {
      transition: color var(--anim-length-short) ease-in-out;
    }
  }
</style>
