---
const { href, name } = Astro.props;

// HTML must be a single line to prevent a trailing space from being generated
---

<a href={href} class="_link" aria-label=`Link to ${name}`><slot /></a><style>
  ._link {
    text-decoration: underline;
    border-radius: var(--border-radius-sm);
  }

  ._link:hover,
  ._link:focus {
    color: var(--color-primary);
  }

  ._link:active {
    outline: 2px solid var(--color-selected);
  }

  @media (prefers-reduced-motion: no-preference) {
    ._link {
      transition: color var(--anim-length-short) ease-in-out;
    }
  }
</style>
