---
const { href, isActive } = Astro.props;
---

<a
  href={href}
  class:list={["menu-link", isActive && "active"]}
  role="menuitem"
  aria-current={isActive && "page"}
>
  <slot />
</a>

<style>
  .menu-link {
    display: inline-block;
    position: relative;
    margin: 0;
    border-radius: var(--border-radius-sm);

    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    font-weight: var(--light);
    color: var(--color-neutral-100);
  }

  .menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    block-size: 2px;
    inline-size: 100%;
    background-color: var(--color-complement);
    transform-origin: left;
    transform: scale(0);
  }

  .active {
    color: var(--color-primary-200) !important;
  }

  .active::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    inline-size: 125%;
    block-size: 150%;
    border-radius: var(--border-radius-sm);
    outline: 2px solid var(--color-primary-400);
    transform: translate(-50%, -50%);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--color-primary-200);
  }

  :not(.active).menu-link:hover::after,
  :not(.active).menu-link:focus::after {
    transform: scale(100%);
  }

  :not(.active).menu-link:active {
    outline: 2px solid var(--color-complement);
  }

  @media (prefers-reduced-motion: no-preference) {
    .menu-link {
      transition: color var(--anim-length-short) ease-in-out;
    }

    .menu-link::after {
      transition:
        opacity var(--anim-length-base),
        transform var(--anim-length-base);
    }
  }
</style>
