---
import { useTranslations } from "@i18n/utils.ts";
import PinterestLogo from "@logos/pinterest.svg";
import RedditLogo from "@logos/reddit.svg";
import GitHubLogo from "@logos/github.svg";

const locale = Astro.currentLocale as string;
const t = useTranslations(locale);
const socialList = {
  ...(locale === "zh-cn"
    ? {
        // RedNote: ,
      }
    : {
        Pinterest: PinterestLogo,
        // TikTok: TikTokLogo,
        // YouTube: YouTubeLogo,
        // Twitch: TwitchLogo,
        Reddit: RedditLogo,
      }),

  GitHub: GitHubLogo,
};

const getSocialUrl = (platform: string) => t(`social.${platform.toLowerCase()}`);
const getLinkText = (platform: string) =>
  t("social.ariaLabel", { brand: "amelliya", platform: platform });
---

<ul class="social-media">
  {
    Object.entries(socialList).map(([platform, Logo]) => (
      <li>
        <a
          rel="me"
          href={getSocialUrl(platform)}
          class="social-link"
          aria-label={getLinkText(platform)}
        >
          <Logo class="social-icon" aria-hidden={true} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-xs);
  }

  .social-link {
    display: grid;
    place-items: center;
    color: var(--color-text-light);
    inline-size: var(--font-size-2xl);
    block-size: var(--font-size-2xl);
  }

  .social-link:hover,
  .social-link:focus {
    color: var(--color-primary);
  }

  .social-icon {
    inline-size: 75%;
    block-size: 75%;
  }

  .social-icon:hover,
  .social-icon:focus {
    transform: scale(105%);
  }

  @media (prefers-reduced-motion: no-preference) {
    .social-link {
      transition: color var(--anim-length-base) ease-in-out;
    }

    .social-icon {
      transition: transform var(--anim-length-short) ease-in-out;
    }
  }
</style>
