---

---

<p class="intro">
  <slot />
</p>

<style>
  @supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
    .intro::first-letter {
      initial-letter: 3;
      -webkit-initial-letter: 3;
      margin-inline-end: var(--space-2xs);
    }
  }
</style>
