---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import BlogCard from "@components/cards/BlogCard.astro";
import ArrowForward from "@icons/arrow-forward-outline.svg";

const locale = Astro.currentLocale as string;
const recentPosts = (
  await getCollection("posts", ({ id, data }) => {
    return !data.draft && id.startsWith(`${locale}/`);
  })
)
  .sort((a, b) => b.data.published.getTime() - a.data.published.getTime())
  .slice(0, 3);
---

<section class="blog-posts">
  <a class="blog-posts-heading" href="/blog/1" aria-label="Link to blog">
    <h2>Latest Posts</h2>
    <ArrowForward class="arrow" aria-hidden={true} />
  </a>
  <div class="blog-posts-grid">
    {
      recentPosts.map((post) => (
        <BlogCard
          href={getRelativeLocaleUrl(locale, `blog/${post.data.translationId}`)}
          frontmatter={post.data}
        />
      ))
    }
  </div>
</section>

<style>
  .blog-posts {
    padding-block: var(--space-md-lg) var(--space-lg-xl);
  }

  .blog-posts-heading {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    color: var(--color-text-light);
  }

  .blog-posts-heading > h2 {
    margin-block: 0;
  }

  .arrow {
    inline-size: var(--font-size-lg);
    block-size: var(--font-size-lg);
  }

  .blog-posts-heading:hover,
  .blog-posts-heading:focus {
    color: var(--color-primary);
  }

  .blog-posts-heading:hover > .arrow,
  .blog-posts-heading:focus > .arrow {
    color: var(--color-selected);
    transform: translateX(10px);
  }

  [dir="rtl"] .blog-posts-heading:hover > .arrow,
  [dir="rtl"] .blog-posts-heading:focus > .arrow {
    transform: translateX(-10px);
  }

  .blog-posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--space-md-lg);
    margin-block-start: var(--space-md);
  }

  @media only screen and (min-width: 36rem) and (max-width: 62rem) {
    .blog-posts-grid {
      grid-template-columns: 1fr 1fr;
    }

    .blog-posts-grid > :first-child {
      grid-column: span 2;
    }
  }

  @media only screen and (min-width: 62rem) {
    .blog-posts-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .blog-posts-heading {
      transition: color var(--anim-length-short) ease-in-out;
    }

    .arrow {
      transition:
        transform var(--anim-length-base) ease-in-out,
        color var(--anim-length-short) ease-in-out;
    }
  }
</style>
