---
import { getCollection, render } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "@i18n/utils.ts";
import BlogCardsGrid from "@components/layouts/BlogCardsGrid.astro";
import BlogCard from "@components/cards/BlogCard.astro";
import ArrowLink from "@components/controls/ArrowLink.astro";

const numberOfPosts = 6;
const locale = Astro.currentLocale as string;
const recentPosts = (
  await getCollection("posts", ({ id, data }) => {
    return !data.draft && id.startsWith(`${locale}/`);
  })
)
  .sort((a, b) => b.data.published.getTime() - a.data.published.getTime())
  .slice(0, numberOfPosts);

const postsFrontmatter = await Promise.all(
  recentPosts.map(async (post) => {
    const { remarkPluginFrontmatter } = await render(post);
    return {
      ...post.data,
      readingTime: remarkPluginFrontmatter.readingTime,
    };
  }),
);
const t = useTranslations(locale);
---

<section class="blog-posts">
  <ArrowLink
    class="arrow-link"
    href={getRelativeLocaleUrl(locale, "blog/1")}
    direction="forward"
    iconSize="lg"
  >
    <h2 class="blog-posts-heading">{t("index.latest posts")}</h2>
  </ArrowLink>
  <BlogCardsGrid>
    {
      postsFrontmatter.map((frontmatter) => (
        <BlogCard
          href={getRelativeLocaleUrl(locale, `blog/${frontmatter.translationId}`)}
          frontmatter={frontmatter}
        />
      ))
    }
  </BlogCardsGrid>
</section>

<style>
  .blog-posts {
    padding-block: var(--space-md-lg) var(--space-lg-xl);
  }

  .blog-posts-heading {
    margin-block: 0;
  }
</style>
