---
import { getCollection } from "astro:content";
import BlogCard from "../cards/BlogCard.astro";

const recentPosts = (
  await getCollection("posts", ({ data }) => {
    return !data.draft;
  })
)
  .sort((a, b) => b.data.published - a.data.published)
  .slice(0, 3);
---

<section class="blog-posts">
  <a class="blog-posts-heading" href="/blog/1" aria-label="Link to blog">
    <h2>Latest Posts</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="arrow"
      viewBox="0 0 512 512"
      width="20"
      height="20"
      aria-hidden="true"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="48"
        d="M268 112l144 144-144 144M392 256H100"
      >
      </path>
    </svg>
  </a>
  <div class="blog-posts-grid">
    {recentPosts.map((post) => <BlogCard href=`blog/${post.id}` frontmatter={post.data} />)}
  </div>
</section>

<style>
  .blog-posts {
    padding-block: var(--space-md-lg) var(--space-lg-xl);
  }

  .blog-posts-heading {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    color: var(--color-text-light);
  }

  .blog-posts-heading > h2 {
    margin-block: 0;
  }

  .arrow {
    inline-size: var(--font-size-lg);
    block-size: var(--font-size-lg);
  }

  .blog-posts-heading:hover,
  .blog-posts-heading:focus {
    color: var(--color-primary);
  }

  .blog-posts-heading:hover > .arrow,
  .blog-posts-heading:focus > .arrow {
    color: var(--color-selected);
    transform: translateX(10px);
  }

  .blog-posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--space-md-lg);
    margin-block-start: var(--space-md);
  }

  @media only screen and (min-width: 36rem) and (max-width: 62rem) {
    .blog-posts-grid {
      grid-template-columns: 1fr 1fr;
    }

    .blog-posts-grid > :first-child {
      grid-column: span 2;
    }
  }

  @media only screen and (min-width: 62rem) {
    .blog-posts-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .blog-posts > * {
      animation: fade-in 0.8s cubic-bezier(0.12, 0, 0.39, 0) forwards;
    }

    .blog-posts-heading {
      transition: color var(--anim-length-short) ease-in-out;
    }

    .arrow {
      transition:
        transform var(--anim-length-base) ease-in-out,
        color var(--anim-length-short) ease-in-out;
    }
  }
</style>
