---
import { getCollection } from "astro:content";
import PinCard from "./PinCard.astro";

const projects = await getCollection("projects");
---

<section class="current-projects">
  <h2 class="pin-board-heading">Jane's Project Board</h2>
  <div class="pin-board">
    {projects.map((project) => <PinCard project={project} />)}
  </div>
</section>

<style>
  .current-projects {
    margin-block-end: var(--space-2xl-3xl);
    box-shadow: var(--box-shadow-lg);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
  }

  .pin-board-heading {
    padding: var(--space-sm);
    margin: 0;
    font-weight: var(--bold);
    color: var(--color-text-dark);
    background-color: var(--color-primary);
    text-align: center;
  }

  .pin-board {
    --_pin-board-bg: var(--color-bg-dark);
    --_dots-color: rgb(250 250 250 / 16%);

    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--space-md-lg);
    padding: var(--space-lg-xl);
    background-color: var(--color-bg-bright);
  }

  /* Add negative offset border while preserving rounded corners */
  .pin-board::before {
    --_outline-offset: 2em;

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    inline-size: calc(100% - var(--_outline-offset));
    block-size: calc(100% - var(--_outline-offset));

    background-color: var(--_pin-board-bg);
    background-image: radial-gradient(circle at 10px 10px, var(--_dots-color) 1px, transparent 1px),
      radial-gradient(circle at 30px 30px, var(--_dots-color) 1px, transparent 1px);
    background-size: 35px 35px; /* Size of the pattern */

    border-radius: var(--border-radius-md);
    outline: 3px dashed var(--color-secondary);
    transform: translate(-50%, -50%);
  }

  @media (prefers-reduced-motion: no-preference) {
    .current-projects {
      animation: fade-in 0.8s cubic-bezier(0.12, 0, 0.39, 0) forwards;
    }
  }
</style>
