---
import Head from "@components/Head.astro";
import MainContentLink from "@components/controls/MainContentLink.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { title, description } = Astro.props;
const locale = Astro.currentLocale;
---

<html lang={locale}>
  <Head title={title} description={description} />
  <body>
    <MainContentLink />
    <Header />
    <main id="main-content" class="content-grid">
      <slot />
    </main>
    <Footer />
  </body>
</html>
