---
import Head from "@components/Head.astro";
import MainContentLink from "@components/controls/MainContentLink.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { frontmatter } = Astro.props;
const locale = Astro.currentLocale;
---

<html lang={locale}>
  <Head
    title={frontmatter.title}
    description={frontmatter.description}
    hasCode={frontmatter.hasCode}
  />
  <body>
    <Header />
    <main>
      <MainContentLink />
      <header class="article-header"></header>
      <article id="main-content" class="content-grid">
        <slot />
      </article>
      <footer class="article-footer"></footer>
    </main>
    <Footer />
  </body>
</html>

<style>
  :global(.content-grid) {
    --_max-width: var(--max-article-width);
  }
</style>
