---
import Head from "../components/Head.astro";
import Header from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Header />
    <main>
      <header class="article-header"></header>
      <article class="content-grid">
        <slot />
      </article>
      <footer class="article-footer"></footer>
    </main>
    <Footer />
  </body>
</html>

<style>
  :global(.content-grid) {
    --_max-width: var(--max-article-width);
  }
</style>
